<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>ИТ аутсорсинг в Алматы | Абонентское обслуживание компьютеров</title>
	<atom:link href="http://fixcom.kz/feed/" rel="self" type="application/rss+xml" />
	<link>http://fixcom.kz</link>
	<description></description>
	<lastBuildDate>Tue, 15 Aug 2017 19:40:10 +0000</lastBuildDate>
	<language>ru-RU</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.1</generator>

<image>
	<url>http://fixcom.kz/wp-content/uploads/2016/12/cropped-android-icon-36x36-32x32.png</url>
	<title>ИТ аутсорсинг в Алматы | Абонентское обслуживание компьютеров</title>
	<link>http://fixcom.kz</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Как бороться с вирусом-шифровальщиком/вымогателем Wana Decrypt0r 2.0</title>
		<link>http://fixcom.kz/%d0%ba%d0%b0%d0%ba-%d0%b1%d0%be%d1%80%d0%be%d1%82%d1%8c%d1%81%d1%8f-%d1%81-%d0%b2%d0%b8%d1%80%d1%83%d1%81%d0%be%d0%bc-%d1%88%d0%b8%d1%84%d1%80%d0%be%d0%b2%d0%b0%d0%bb%d1%8c%d1%89%d0%b8%d0%ba%d0%be/</link>
		<comments>http://fixcom.kz/%d0%ba%d0%b0%d0%ba-%d0%b1%d0%be%d1%80%d0%be%d1%82%d1%8c%d1%81%d1%8f-%d1%81-%d0%b2%d0%b8%d1%80%d1%83%d1%81%d0%be%d0%bc-%d1%88%d0%b8%d1%84%d1%80%d0%be%d0%b2%d0%b0%d0%bb%d1%8c%d1%89%d0%b8%d0%ba%d0%be/#respond</comments>
		<pubDate>Sun, 14 May 2017 02:28:19 +0000</pubDate>
		<dc:creator><![CDATA[maimishev]]></dc:creator>
				<category><![CDATA[Статьи]]></category>

		<guid isPermaLink="false">http://fixcom.kz/?p=3200</guid>
		<description><![CDATA[(Некоторая информация взята со сторонних сайтов) Способ для Windows Vista, 7, 8, 8.1, 10 а также Windows Server 2008/2012/2016. 1. Скачайте патч MS17-010 для нужной Windows https://technet.microsoft.com/en-us/library/security/ms17-01&#8230; 2. Отключитесь от интернета. 3. Откройте командную строку (cmd) от имени администратора. 3.1 Пуск =&#62; В поиске вбиваете cmd =&#62; Нажимаете правой кнопкой мыши =&#62; Запуск от имени &#8230;]]></description>
				<content:encoded><![CDATA[<p>(Некоторая информация взята со сторонних сайтов)<br />
Способ для Windows Vista, 7, 8, 8.1, 10 а также Windows Server 2008/2012/2016.<br />
1. Скачайте патч MS17-010 для нужной Windows https://technet.microsoft.com/en-us/library/security/ms17-01&#8230;<br />
2. Отключитесь от интернета.<br />
3. Откройте командную строку (cmd) от имени администратора.<br />
3.1 Пуск =&gt; В поиске вбиваете cmd =&gt; Нажимаете правой кнопкой мыши =&gt; Запуск от имени администратора<br />
4. Вписываете эту команду в командную строку:<br />
netsh advfirewall firewall add rule dir=in action= blockprotocol=tcp localport=445 name=&#187;Block_TCP-445&#8243;<br />
4.1 Нажимаете Enter =&gt; Должно показать OK.<br />
5. Заходите в безопасный режим<br />
5.1 Во время загрузки и появления окна BIOS-a нажмите F8, после чего в списке выберите &#171;Безопасный режим&#187;<br />
6. Найдите и удалите папку вируса<br />
6.1 Для этого нажмите на любой ярлык вируса правой кнопкой мыши, выберите &#171;Расположение файла&#187;, и удалите корневую папку.<br />
7. Перезагрузите компьютер.<br />
8. Зайдите в обычный режим, и запустите устанавливаться патч MS17-010<br />
8.1 Во время установки подключитесь к интернету.</p>
<p>Вот и всё. У меня и моих друзей всё заработало.</p>
<p>Просьба не удалять зашифрованные файлы (т.е. с расширением .wncry), т.к. люди из Касперского выпускают разные декрипторы на этой странице: http://support.kaspersky.com/viruses/utility ; возможно скоро выйдет декриптор .wncry<br />
Лично я воспользовался программой Shadow Explorer, и восстановил некоторые файлы.</p>
<p><a href="http://pikabu.ru/story/kak_borotsya_s_virusomshifrovalshchikomvyimogatelem_wana_decrypt0r_20_5045706">Источник</a></p>
]]></content:encoded>
			<wfw:commentRss>http://fixcom.kz/%d0%ba%d0%b0%d0%ba-%d0%b1%d0%be%d1%80%d0%be%d1%82%d1%8c%d1%81%d1%8f-%d1%81-%d0%b2%d0%b8%d1%80%d1%83%d1%81%d0%be%d0%bc-%d1%88%d0%b8%d1%84%d1%80%d0%be%d0%b2%d0%b0%d0%bb%d1%8c%d1%89%d0%b8%d0%ba%d0%be/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.812 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2017-08-18 16:39:59 -->
